h1 {
    font: oblique bold;
    font-size: 2rem;
    text-transform: uppercase;
}
 
label {
    width: 300px;
    display: inline-block;
    text-align: center;
    font-size: 3rem;
}
 
input {
    font-size: 1.5rem;
    font-weight: 100;
    padding: 10px;
}
 
form {
    margin: 25px auto;
    padding: 20px;
	border-radius: 10px;
    width: 250px;
    background: #eee;
}
 
#ingresar {
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    width: 200px;
	FONT-SIZE: 8pt; 
	FONT-FAMILY: arial;
}

#pin {
    font-size: 1.5rem;
    font-weight: 100;
    background-color: white;
    border: none;
	border-radius: 10px;
    width: 200px;
}