* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#salir {
    padding: 15px;
    background-color: red;
    color: white;
	font-size: 8pt; 
	font-family: Verdana;
	font-weight:10px;
	position: relative;
    left: 60%;
}
#llamar {
    padding: 10px;
    background-color: green;
    color: white;
	font-size: 8pt; 
	font-family: Verdana;
	font-weight:10px;
}
#colgar {
    padding: 10px;
    background-color: pink;
    color: white;
	font-size: 8pt; 
	font-family: Verdana;
	font-weight:10px;
	position:relative;
	left:20%;
}
table {
  background: white;
}
#tiempo{
	color:black;
	position:relative;
	left:20%;
}
body {
    margin: 50px auto;
    width: 800px;
	background: gray;
}
#formVentas{
	align-items:left;
}

label{
	font-size: 10pt; 
	font-family: ARIAL;
	font-weight:12px;
	color:black;
}